.alumni-wrapper .slider {
    padding: 150px 0;
}
.alumni-wrapper .tile-box.big-box.full-width .tile-title {
    font-size: 24px;
    line-height: 30px;
}
.alumni-wrapper .news-section {
    padding-bottom: 100px;
}
.alumni-wrapper .alumni-header-wrapper {
    padding: 50px 0;
    margin-bottom: 40px;
}

.alumni-wrapper .chairman-section .tile-box {
    height: 660px;
    position: relative;
    background: transparent;
    margin-bottom: 50px;
}
.alumni-wrapper .chairman-section .tile-box.big-box .tile-image {
    height: 90%;
}
.alumni-wrapper .chairman-section .tile-box.big-box.full-width .tile-image {
    width: 80%;
}
.alumni-wrapper .chairman-section .tile-box .tile-content {
    height: 460px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: var(--white);
}
.alumni-wrapper .contacts-section .container {
    border-bottom: 1px solid #007CC3;
}
.alumni-wrapper .members-section .members-container{
    grid-template-columns: repeat(2, minmax(0, 440px));
    gap: 1.5rem;
    display: grid;
    justify-content: center;
}
.alumni-wrapper .members-section {
    padding: 50px 0;
}
.alumni-wrapper .members-section h1 {
    padding: 0 0 40px;
}
.alumni-wrapper .members-section .members-wrapper{
    
}
.alumni-wrapper .members-section .members-image{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.alumni-wrapper .members-section .members-image img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.alumni-wrapper .application-form-section {
    padding: 50px 0;
}
.alumni-wrapper .application-form-section .alumni-form-button {
    padding: 18px 53px;
    background-color: var(--accent-red);
    color: var(--white);
    font-size: 32px;
    margin-top: 40px;
    display: inline-block;
}

@media (max-width: 768px) {
    .sm-f24 {
        font-size: 24px;
    }
    .alumni-wrapper {
        .alumni-header-wrapper {
            padding: 30px 0;
            margin-bottom: 10px;
        }
        .chairman-section .tile-box {
            margin-bottom: 10px;
            &.big-box {
                &.full-width .tile-image {
                    width: 100%;
                }
                .tile-image {
                   height: 225px;
               }
            }
            .tile-content {
                bottom: 20px;
                right: 0px;
                max-width: 270px;
                padding-left: 30px;
            }

        }
        .contacts-section {
            .map-info-wrapper {
                flex-direction: column;
            }
            .section-header {
                h1 {
                    margin-bottom: 30px;
                }
            }
            .map-holder {
                margin-top: 40px;
            }
            #google_map {
                width: 100%;
                height: 380px;
            }
            .contact-wrapper {
                width: 100%;
                .contact-image {
                    width: 50px;
                    height: 50px;
                }
            }
            .contact-info  {
                padding: 0px 20px;
                width: 100%;
                h5 {
                    font-size: 20px;
                    margin-top: 0;
                }
            }
        }
        .members-section {
            padding: 35px 0 50px;
            .members-container {
                grid-template-columns: auto;
            }
        } 
        .application-form-section .alumni-form-button {
            padding: 18px 20px;
        }
    }
}