@font-face {
	font-family: ShellIcons;
	src: url(/_layouts/15/fonts/shellicons.eot?#iefix) format("embedded-opentype"), url(/_layouts/15/fonts/shellicons.woff) format("woff"), url(/_layouts/15/fonts/shellicons.ttf) format("truetype"), url(/_layouts/15/fonts/shellicons.svg) format("svg");
	font-weight: normal;
	font-style: normal;
}
.o365button {
	background-color: transparent;
}
.o365cs-base [class^='ms-Icon--']::before {
	width: auto; text-align: center; text-transform: none; line-height: 1; font-family: "ShellIcons"; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: inherit; margin-right: 0px; margin-left: 0px; display: inline-block; speak: none;
}
.o365cs-base [class*=' ms-Icon--']::before {
	width: auto; text-align: center; text-transform: none; line-height: 1; font-family: "ShellIcons"; font-style: normal; font-variant: normal; font-weight: normal; text-decoration: inherit; margin-right: 0px; margin-left: 0px; display: inline-block; speak: none;
}
.o365cs-base [class^='ms-Icon--'] {
	line-height: 1; display: inline-block;
}
.o365cs-base [class*=' ms-Icon--'] {
	line-height: 1; display: inline-block;
}
.ms-icon-font-circle::before {
	border-style: solid; padding: 0.1em; border-radius: 1em; line-height: 1.15; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
@media not all
{
.ms-icon-font-circle::before {
	line-height: 1;
}
}
.ms-icon-font-size-8 {
	font-size: 8px !important;
}
.ms-icon-font-size-11 {
	font-size: 11px !important;
}
.ms-icon-font-size-12 {
	font-size: 12px !important;
}
.ms-icon-font-size-14 {
	font-size: 14px !important;
}
.ms-icon-font-size-15 {
	font-size: 15px !important;
}
.ms-icon-font-size-17 {
	font-size: 17px !important;
}
.ms-icon-font-size-18 {
	font-size: 18px !important;
}
.ms-icon-font-size-20 {
	font-size: 20px !important;
}
.ms-icon-font-size-22 {
	font-size: 22px !important;
}
.ms-icon-font-size-24 {
	font-size: 24px !important;
}
.ms-icon-font-size-25 {
	font-size: 25px !important;
}
.ms-icon-font-size-26 {
	font-size: 26px !important;
}
.ms-icon-font-size-35 {
	font-size: 35px !important;
}
.ms-icon-font-size-64 {
	font-size: 64px !important;
}
[data-icon]::before {
	content: attr(data-icon);
}
.ms-Icon--circleFill::before {
	content: "\e001";
}
.ms-Icon--plus::before {
	content: "\e004";
}
.ms-Icon--question::before {
	content: "\e006";
}
.ms-Icon--person::before {
	content: "\e008";
}
.ms-Icon--person2::before {
	content: "\e307";
}
.ms-Icon--mail::before {
	content: "\e009";
}
.ms-Icon--infoCircle::before {
	content: "\e00a";
}
.ms-Icon--alert::before {
	content: "\e00b";
}
.ms-Icon--xCircle::before {
	content: "\e00c";
}
.ms-Icon--bell::before {
	content: "\e010";
}
.ms-Icon--calendar::before {
	content: "\e011";
}
.ms-Icon--scheduling::before {
	content: "\e012";
}
.ms-Icon--event::before {
	content: "\e013";
}
.ms-Icon--onedrive::before {
	content: "\e016";
}
.ms-Icon--chat::before {
	content: "\e017";
}
.ms-Icon--menu::before {
	content: "\e020";
}
.ms-Icon--favorites::before {
	content: "\e022";
}
.ms-Icon--phone::before {
	content: "\e023";
}
.ms-Icon--clock::before {
	content: "\e105";
}
.ms-Icon--miniatures::before {
	content: "\e02a";
}
.ms-Icon--gear::before {
	content: "\e035";
}
.ms-Icon--smiley::before {
	content: "\e036";
}
.ms-Icon--search::before {
	content: "\e039";
}
.ms-Icon--questionReverse::before {
	content: "\e03a";
}
.ms-Icon--tasks::before {
	content: "\e040";
}
.ms-Icon--check::before {
	content: "\e041";
}
.ms-Icon--x::before {
	content: "\e042";
}
.ms-Icon--ellipsis::before {
	content: "\e045";
}
.ms-Icon--refresh::before {
	content: "\e034";
}
.ms-Icon--arrowLeft::before {
	content: "\e049";
}
.ms-Icon--arrowRight::before {
	content: "\e04a";
}
.ms-Icon--download::before {
	content: "\e04b";
}
.ms-Icon--save::before {
	content: "\e025";
}
.ms-Icon--pencil::before {
	content: "\e027";
}
.ms-Icon--caretUp::before {
	content: "\e051";
}
.ms-Icon--caretDown::before {
	content: "\e052";
}
.ms-Icon--officeThreshold::before {
	content: "\e055";
}
.ms-Icon--office365::before {
	content: "\e056";
}
.ms-Icon--office365Preview::before {
	content: "\e057";
}
.ms-Icon--apps::before {
	content: "\e060";
}
.ms-Icon--officeStore::before {
	content: "\e061";
}
.ms-Icon--windowsStore::before {
	content: "\e37a";
}
.ms-Icon--outlook::before {
	content: "\e062";
}
.ms-Icon--project::before {
	content: "\e063";
}
.ms-Icon--yammer::before {
	content: "\e064";
}
.ms-Icon--dynamicsCrm::before {
	content: "\e065";
}
.ms-Icon--adminP::before {
	content: "\e137";
}
.ms-Icon--admin::before {
	content: "\e081";
}
.ms-Icon--microsoft::before {
	content: "\e083";
}
.ms-Icon--powerBi::before {
	content: "\e08b";
}
.ms-Icon--newsfeed::before {
	content: "\e08d";
}
.ms-Icon--gallatin::before {
	content: "\e0b3";
}
.ms-Icon--chevronUp::before {
	content: "\e087";
}
.ms-Icon--chevronDown::before {
	content: "\e088";
}
.ms-Icon--chevronLeft::before {
	content: "\e089";
}
.ms-Icon--chevronRight::before {
	content: "\e08a";
}
.ms-Icon--waffle2::before {
	content: "\e303";
}
.ms-Icon--tile::before {
	content: "\e070";
}
.ms-Icon--delve::before {
	content: "\e118";
}
.ms-Icon--camera::before {
	content: "\e119";
}
.ms-Icon--people::before {
	content: "\e00e";
}
.ms-Icon--lync::before {
	content: "\e066";
}
.ms-Icon--sharepoint::before {
	content: "\e072";
}
.ms-Icon--word::before {
	content: "\e0b9";
}
.ms-Icon--excel::before {
	content: "\e0b5";
}
.ms-Icon--powerpoint::before {
	content: "\e0b8";
}
.ms-Icon--onenote::before {
	content: "\e0b7";
}
.ms-Icon--socialListening::before {
	content: "\e123";
}
.ms-Icon--adminA::before {
	content: "\e130";
}
.ms-Icon--group::before {
	content: "\e155";
}
.ms-Icon--video::before {
	content: "\e170";
}
.ms-Icon--skype::before {
	content: "\e199";
}
.ms-Icon--officeVideo::before {
	content: "\e202";
}
.ms-Icon--parature::before {
	content: "\e20a";
}
.ms-Icon--thumbUp::before {
	content: "\e044";
}
.ms-Icon--bing::before {
	content: "\e225";
}
.ms-Icon--docs::before {
	content: "\e290";
}
.ms-Icon--msn::before {
	content: "\e241";
}
.ms-Icon--sway::before {
	content: "\e247";
}
.ms-Icon--skypeForBusiness::before {
	content: "\e258";
}
.ms-Icon--checkPeople::before {
	content: "\e259";
}
.ms-Icon--classroom::before {
	content: "\e276";
}
.ms-Icon--globe::before {
	content: "\e222";
}
.ms-Icon--mobile::before {
	content: "\e195";
}
.ms-Icon--classNotebook::before {
	content: "\e25f";
}
.ms-Icon--fileWord::before {
	content: "\e269";
}
.ms-Icon--filePowerPoint::before {
	content: "\e26a";
}
.ms-Icon--fileExcel::before {
	content: "\e26b";
}
.ms-Icon--protectionCenter::before {
	content: "\e289";
}
.ms-Icon--oneNoteEdu::before {
	content: "\e280";
}
.ms-Icon--nonProfitPortal::before {
	content: "\e37e";
}
.ms-Icon--powerBi3::before {
	content: "\e39d";
}
.ms-Icon--kaizala::before {
	content: "\e407";
}
.ms-Icon--myAnalytics::before {
	content: "\e409";
}
.ms-Icon--myAnalytics2::before {
	content: "\e40a";
}
.ms-Icon--powerBi2::before {
	content: "\e281";
}
.ms-Icon--chevronThinUp::before {
	content: "\e231";
}
.ms-Icon--chevronThinDown::before {
	content: "\e232";
}
.ms-Icon--chevronThickDown::before {
	content: "\e236";
}
.ms-Icon--chevronThickLeft::before {
	content: "\e237";
}
.ms-Icon--chevronThickRight::before {
	content: "\e238";
}
.ms-Icon--starburst::before {
	content: "\e29a";
}
.ms-Icon--lightBulb2::before {
	content: "\e313";
}
.ms-Icon--powerApps::before {
	content: "\e314";
}
.ms-Icon--skypeCheck::before {
	content: "\e315";
}
.ms-Icon--skypeClock::before {
	content: "\e316";
}
.ms-Icon--skypeMinus::before {
	content: "\e317";
}
.ms-Icon--skypeMeetings::before {
	content: "\e258";
}
.ms-Icon--bookings::before {
	content: "\e32a";
}
.ms-Icon--dynamicsNAV::before {
	content: "\e32c";
}
.ms-Icon--officeForms::before {
	content: "\e333";
}
.ms-Icon--skypeMessage::before {
	content: "\e338";
}
.ms-Icon--flowLight::before {
	content: "\e361";
}
.ms-Icon--stream::before {
	content: "\e34f";
}
.ms-Icon--skypeTeams::before {
	content: "\e362";
}
.ms-Icon--teams::before {
	content: "\e379";
}
.ms-Icon--dynamics365::before {
	content: "\e375";
}
.ms-Icon--businessCenter::before {
	content: "\e37b";
}
.ms-Icon--minus::before {
	content: "\e005";
}
.ms-Icon--folder::before {
	content: "\e014";
}
.ms-Icon--trash::before {
	content: "\e026";
}
.ms-Icon--reload::before {
	content: "\e19f";
}
.ms-Icon--picture2::before {
	content: "\e358";
}
.ms-Icon--toDoLogo::before {
	content: "\e418";
}
.ms-Icon--circlePlus2::before {
	content: "\e403";
}
.ms-Icon--document::before {
	content: "\e182";
}
.ms-Icon--visio::before {
	content: "\e201";
}
.ms-Icon--staffHub::before {
	content: "\e421";
}
.o365cs-base .ms-Icon {
	font-family: "ShellFabricMDL2Icons";
}
.o365cs-base .ms-Icon::before {
	font-family: "ShellFabricMDL2Icons";
}
.o365cs-base .ms-Icon--GlobalNavButton::before {
	content: "\E700";
}
.o365cs-base .ms-Icon--More::before {
	content: "\E712";
}
.o365cs-base .ms-Icon--Settings::before {
	content: "\E713";
}
.o365cs-base .ms-Icon--People::before {
	content: "\E716";
}
.o365cs-base .ms-Icon--Search::before {
	content: "\E721";
}
.o365cs-base .ms-Icon--Forward::before {
	content: "\E72A";
}
.o365cs-base .ms-Icon--Back::before {
	content: "\E72B";
}
.o365cs-base .ms-Icon--ChevronLeft::before {
	content: "\E76B";
}
.o365cs-base .ms-Icon--ChevronRight::before {
	content: "\E76C";
}
.o365cs-base .ms-Icon--Emoji2::before {
	content: "\E76E";
}
.o365cs-base .ms-Icon--Contact::before {
	content: "\E77B";
}
.o365cs-base .ms-Icon--Calendar::before {
	content: "\E787";
}
.o365cs-base .ms-Icon--News::before {
	content: "\E900";
}
.o365cs-base .ms-Icon--Download::before {
	content: "\E896";
}
.o365cs-base .ms-Icon--Help::before {
	content: "\E897";
}
.o365cs-base .ms-Icon--ChromeClose::before {
	content: "\E8BB";
}
.o365cs-base .ms-Icon--OneDrive::before {
	content: "\E941";
}
.o365cs-base .ms-Icon--ChevronUpMed::before {
	content: "\E971";
}
.o365cs-base .ms-Icon--ChevronDownMed::before {
	content: "\E972";
}
.o365cs-base .ms-Icon--Ringer::before {
	content: "\EA8F";
}
.o365cs-base .ms-Icon--StoreLogo::before {
	content: "\EA96";
}
.o365cs-base .ms-Icon--CircleFill::before {
	content: "\EA3B";
}
.o365cs-base .ms-Icon--HelpMirrored::before {
	content: "\EA51";
}
.o365cs-base .ms-Icon--Lightbulb::before {
	content: "\EA80";
}
.o365cs-base .ms-Icon--BingLogo::before {
	content: "\EB6B";
}
.o365cs-base .ms-Icon--MSNLogo::before {
	content: "\EB6C";
}
.o365cs-base .ms-Icon--OfficeLogo::before {
	content: "\EB6E";
}
.o365cs-base .ms-Icon--SkypeLogo::before {
	content: "\EB6F";
}
.o365cs-base .ms-Icon--PowerBILogo::before {
	content: "\EA1E";
}
.o365cs-base .ms-Icon--YammerLogo::before {
	content: "\ED19";
}
.o365cs-base .ms-Icon--AdminALogo::before {
	content: "\ED6A";
}
.o365cs-base .ms-Icon--AdminPLogo::before {
	content: "\ED71";
}
.o365cs-base .ms-Icon--ParatureLogo::before {
	content: "\ED7B";
}
.o365cs-base .ms-Icon--SocialListeningLogo::before {
	content: "\ED7C";
}
.o365cs-base .ms-Icon--Waffle::before {
	content: "\ED89";
}
.o365cs-base .ms-Icon--BookingsLogo::before {
	content: "\EDC7";
}
.o365cs-base .ms-Icon--DocsLogoInverse::before {
	content: "\EDCB";
}
.o365cs-base .ms-Icon--Dynamics365Logo::before {
	content: "\EDCC";
}
.o365cs-base .ms-Icon--DynamicSMBLogo::before {
	content: "\EDCD";
}
.o365cs-base .ms-Icon--OfficeStoreLogo::before {
	content: "\EDCF";
}
.o365cs-base .ms-Icon--PlannerLogo::before {
	content: "\EDD1";
}
.o365cs-base .ms-Icon--OfficeAddinsLogo::before {
	content: "\EEC7";
}
.o365cs-base .ms-Icon--ClassroomLogo::before {
	content: "\EF75";
}
.o365cs-base .ms-Icon--CaretSolidDown::before {
	content: "\F08E";
}
.o365cs-base .ms-Icon--PowerAppsLogo::before {
	content: "\F091";
}
.o365cs-base .ms-Icon--SkypeForBusinessLogo::before {
	content: "\F0FC";
}
.o365cs-base .ms-Icon--AnalyticsLogo::before {
	content: "\F1DE";
}
.o365cs-base .ms-Icon--WordLogo::before {
	content: "\F1E3";
}
.o365cs-base .ms-Icon--ExcelLogo::before {
	content: "\F1E5";
}
.o365cs-base .ms-Icon--OneNoteLogo::before {
	content: "\F1E7";
}
.o365cs-base .ms-Icon--OutlookLogo::before {
	content: "\F1E9";
}
.o365cs-base .ms-Icon--PowerPointLogo::before {
	content: "\F1EB";
}
.o365cs-base .ms-Icon--TeamsLogo::before {
	content: "\F27B";
}
.o365cs-base .ms-Icon--SharepointLogo::before {
	content: "\F27E";
}
.o365cs-base .ms-Icon--DelveLogo::before {
	content: "\F280";
}
.o365cs-base .ms-Icon--OfficeVideoLogo::before {
	content: "\F282";
}
.o365cs-base .ms-Icon--VisioLogo::before {
	content: "\F2A7";
}
.o365cs-base .ms-Icon--MoreVertical::before {
	content: "\F2BC";
}
.o365cs-base .ms-Icon--StreamLogo::before {
	content: "\F329";
}
.o365cs-base .ms-Icon--OfficeFormsLogo::before {
	content: "\F434";
}
.o365cs-base .ms-Icon--ProjectLogo32::before {
	content: "\F47E";
}
.o365cs-base .ms-Icon--SwayLogo32::before {
	content: "\F482";
}
.o365cs-base .ms-Icon--ClassNotebookLogo32::before {
	content: "\F486";
}
.o365cs-base .ms-Icon--StaffNotebookLogo32::before {
	content: "\F48C";
}
.o365cs-base .ms-Icon--KaizalaLogo::before {
	content: "\F492";
}
.o365cs-base .ms-Icon--TaskLogo::before {
	content: "\F493";
}
.o365cs-base .ms-Icon--ProtectionCenterLogo32::before {
	content: "\F494";
}
.o365cs-base .ms-Icon--NonprofitLogo32::before {
	content: "\F495";
}
.o365cs-base .ms-Icon--GallatinLogo::before {
	content: "\F496";
}
.o365cs-base .ms-Icon--MicrosoftFlowLogo::before {
	content: "\F4B1";
}
.o365cs-base .ms-Icon--BusinessCenterLogo::before {
	content: "\F4B2";
}
.o365cs-base .ms-Icon--ToDoLogoInverse::before {
	content: "\F4BC";
}
.o365cs-base .ms-Icon--Mail::before {
	content: "\F715";
}
.o365cs-base .ms-Icon--MicrosoftStaffhubLogo::before {
	content: "\F130";
}
.o365cs-base * {
	box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;
}
.o365cs-clear {
	clear: both;
}
.o365cs-segoeSemibold {
	font-family: "Segoe UI Semibold","Segoe UI Web Semibold","Segoe WP Semibold","Segoe UI","Segoe WP",Segoe,Tahoma,Arial,sans-serif;
}
.o365cs-nav-header16 {
	width: 100%; height: 50px; line-height: normal; font-size: 0px; display: table; white-space: nowrap; border-spacing: 0;
}
@media print
{
.o365cs-nav-header16 [class^='ms-Icon--']::before {
	content: "" !important;
}
.o365cs-nav-header16 [class*=' ms-Icon--']::before {
	content: "" !important;
}
.o365cs-nav-header16 [class^='ms-Icon--'] {
	display: none !important;
}
.o365cs-nav-header16 [class*=' ms-Icon--'] {
	display: none !important;
}
}
.o365cs-nav-header16 .o365cs-nav-leftAlign {
	vertical-align: middle; display: table-cell;
}
.o365cs-navMenuButton {
	transition:background-color 0.65s; -webkit-transition: background-color 0.65s ease; -moz-transition: background-color 0.65s ease;
}
.o365cs-nav-switcher.o365cs-newAL-on {
	margin: 11px 0px 0px 11px; padding: 8px 6px 6px; outline: 0px; border: 1px solid rgb(214, 214, 214); left: 0px !important; top: 50px !important; width: auto; height: auto; right: auto !important; position: absolute; max-height: calc(100vh - 80px) !important; min-width: 208px; max-width: 510px; box-sizing: content-box !important; box-shadow: 0px 0px 6px rgba(0,0,0,0.24); background-color: rgba(255, 255, 255, 0.97); -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.24);
}
.o365cs-nav-switcher.o365cs-newALV2-on {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; left: 0px !important; top: 50px !important; width: 320px; height: calc(100vh - 50px); right: auto !important; position: absolute; -ms-overflow-y: auto; max-height: none !important; min-width: 320px; max-width: 320px; box-sizing: border-box !important; box-shadow: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none;
}
.o365cs-nav-switcher.o365cs-newALV3-on {
	margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; left: 0px !important; top: 50px !important; width: 320px; height: calc(100vh - 50px); right: auto !important; position: absolute; -ms-overflow-y: auto; max-height: none !important; min-width: 320px; max-width: 320px; box-sizing: border-box !important; box-shadow: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: none;
}
.o365cs-nav-switcher.o365cs-newALV3-on {
	top: 0px !important; height: calc(100vh); box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.10);
}
.o365cs-nav-launcher.o365cs-newAL-on {
	padding: 8px 6px 6px; max-width: 510px;
}
.o365cs-nav-launcher.o365cs-newALV2-on {
	max-width: 320px;
}
.o365cs-nav-launcher.o365cs-newALV3-on {
	max-width: 320px;
}
.o365cs-nav-navMenu.o365cs-newAL-on {
	outline: 0px; border: 0px currentColor; top: 50px !important; -ms-overflow-y: auto; box-shadow: none; background-color: rgba(255, 255, 255, 0.97); -webkit-box-shadow: none;
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	outline: 0px; border: 0px currentColor; -ms-overflow-y: auto;
}
.o365cs-nav-navMenu.o365cs-newALV3-on {
	outline: 0px; border: 0px currentColor; -ms-overflow-y: auto;
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	top: 50px !important; box-shadow: none; -webkit-box-shadow: none;
}
.o365cs-nav-navMenu.o365cs-newALV3-on {
	top: 0px !important; height: calc(100vh); overflow: hidden; box-shadow: 0px 16px 24px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.10);
}
@media all and (max-width:1023px)
{
.o365cs-nav-navMenu.o365cs-newAL-on {
	padding: 20px 20px 10px; left: auto !important; width: 306px; height: calc(100vh - 50px); right: 0px !important; border-left-color: rgb(214, 214, 214); border-left-width: 1px; border-left-style: solid; max-height: none !important; max-width: none !important; box-sizing: border-box !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	left: auto !important; width: 320px; right: 0px !important; border-left-color: currentColor; border-left-width: medium; border-left-style: none; max-height: none !important; max-width: none !important; box-sizing: border-box !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-nav-navMenu.o365cs-newALV3-on {
	left: auto !important; width: 320px; right: 0px !important; border-left-color: currentColor; border-left-width: medium; border-left-style: none; max-height: none !important; max-width: none !important; box-sizing: border-box !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	height: calc(100vh - 50px);
}
}
@media all and (min-width:1024px)
{
.o365cs-rsp-m-hide {
	display: none !important;
}
.o365cs-nav-navMenu.o365cs-newAL-on {
	margin: 11px 0px 0px 11px; padding: 8px 6px 6px; border: 1px solid rgb(214, 214, 214); left: 0px !important; width: auto; height: auto; right: auto !important; position: absolute; max-height: calc(100vh - 80px) !important; min-width: 208px; max-width: 510px; box-sizing: content-box !important; box-shadow: 0px 0px 6px rgba(0,0,0,0.24); -moz-box-sizing: content-box; -webkit-box-sizing: content-box; -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.24);
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	margin: 0px; border: 0px currentColor; left: 0px !important; width: 320px; right: auto !important; position: absolute; max-height: none !important; min-width: 320px; max-width: 320px; box-sizing: border-box !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-nav-navMenu.o365cs-newALV3-on {
	margin: 0px; border: 0px currentColor; left: 0px !important; width: 320px; right: auto !important; position: absolute; max-height: none !important; min-width: 320px; max-width: 320px; box-sizing: border-box !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-nav-navMenu.o365cs-newALV2-on {
	height: calc(100vh - 50px); box-shadow: none; -webkit-box-shadow: none;
}
}
@media all and (max-width:1023px) and (min-width:640px)
{
.o365cs-rsp-tw-hide {
	display: none !important;
}
}
@media all and (max-width:899px) and (min-width:640px)
{
.o365cs-rsp-tw-sm-hide {
	display: none !important;
}
}
@media all and (max-width:639px)
{
.o365cs-rsp-tn-hide {
	display: none !important;
}
.o365cs-rsp-affordance-on .o365cs-rsp-tn-hideIfAffordanceOn {
	display: none !important;
}
.o365cs-rsp-affordance-off .o365cs-rsp-tn-hideIfAffordanceOff {
	display: none !important;
}
}
.o365cs-newALV2-on .o365cs-nav-navMenuContent {
	height: calc(100vh - 50px); box-sizing: border-box; background-color: rgb(51, 51, 51); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-newALV3-on .o365cs-nav-navMenuContent {
	height: calc(100vh); box-sizing: border-box; background-color: rgb(255, 255, 255); -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.o365cs-newALV2-on .o365cs-nav-navMenuContent {
	padding-top: 36px;
}
.o365cs-nav-navMenuBeak {
	left: 14px; bottom: -8px; position: absolute; z-index: 2100;
}
.o365cs-newALV2-on .o365cs-nav-navMenuBeak {
	display: none !important;
}
.o365cs-newALV3-on .o365cs-nav-navMenuBeak {
	display: none !important;
}
.o365cs-nav-navMenuBeak::before {
	border: solid transparent; width: 0px; height: 0px; position: absolute; content: " ";
}
.o365cs-nav-navMenuBeak::after {
	border: solid transparent; width: 0px; height: 0px; position: absolute; content: " ";
}
.o365cs-nav-navMenuBeak::before {
	border-width: 11px 12.5px; left: 5px; top: -18px; border-bottom-color: rgb(214, 214, 214);
}
.o365cs-nav-navMenuBeak::after {
	border-width: 10px 11.5px; left: 6px; top: -16px; border-bottom-color: rgb(255, 255, 255);
}
.o365cs-newALV2-on .o365cs-nav-scrollbar {
	-ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.o365cs-newALV3-on .o365cs-nav-scrollbar {
	-ms-overflow-y: auto; -webkit-overflow-scrolling: touch;
}
.o365cs-nav-closeButton {
	border-width: 0px; margin: 0px 5px 5px 0px; padding: 5px 0px 0px 5px !important; transition:background-color 0.08s linear; height: 45px !important; text-align: center; line-height: normal; vertical-align: middle; display: block; cursor: pointer; min-width: 45px; box-sizing: border-box; background-clip: content-box !important; background-color: transparent !important; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: background-color .083s linear; -moz-transition: background-color .083s linear;
}
.o365cs-nav-closeButton:hover {
	transition:background-color 0.16s linear; background-color: rgb(219, 218, 215) !important; -webkit-transition: background-color .167s linear; -moz-transition: background-color .167s linear;
}
.o365cs-nav-closeButton:active {
	background-color: rgb(185, 183, 181) !important;
}
.o365cs-nav-navMenuTabs {
	height: 47px; margin-left: 24px;
}
.o365cs-nav-navMenuTab {
	margin: 0px 8px 0px 0px; padding: 0px 4px 2px !important; height: auto; font-size: 12px !important; border-bottom-width: 2px !important; border-bottom-style: solid; min-width: 0px; background-color: transparent !important;
}
:not(.ms-bcl-tt).o365cs-nav-navMenuTab {
	border-bottom-color: transparent;
}
.o365cs-newALV2-on .o365cs-nav-navMenuTabContainer {
	height: calc(100vh - 160px); padding-left: 24px;
}
.o365cs-newALV3-on .o365cs-nav-navMenuTabContainer {
	height: calc(100vh - 50px);
}
.o365cs-newALV2-on .o365cs-nav-hasAllAppsLink .o365cs-nav-navMenuTabContainer {
	height: calc(100vh - 188px);
}
.o365cs-newALV2-on .o365cs-nav-hasGetMoreAppsLink .o365cs-nav-navMenuTabContainer {
	height: calc(100vh - 188px);
}
.o365cs-newALV2-on .o365cs-nav-hasGetMoreAppsLink.o365cs-nav-hasAllAppsLink .o365cs-nav-navMenuTabContainer {
	height: calc(100vh - 216px);
}
.o365cs-newALV3-on .slideInT.o365cs-nav-pinnedTab {
	animation-name: o365cs-nav-pinnedTab-slideInT; animation-duration: 0.25s; animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -webkit-animation-name: o365cs-nav-pinnedTab-slideInT; -moz-animation-name: o365cs-nav-pinnedTab-slideInT; -webkit-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -moz-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);
}
.o365cs-nav-placesLinks {
	left: 202px; top: 15px; position: absolute;
}
.o365cs-nav-placesLink {
	font-size: 14px !important; text-decoration: none !important;
}
.o365cs-nav-placesLink .owaimg {
	font-size: 12px !important; margin-top: -4px; margin-left: 12px; vertical-align: middle;
}
.o365cs-nav-moduleLabel {
	margin: 30px 0px 20px 18px; letter-spacing: 0.01px; font-size: 22px !important; display: block;
}
.o365cs-nav-appItem {
	float: left;
}
.o365cs-nav-listView {
	padding-left: 0px !important;
}
.o365cs-nav-listView .o365cs-nav-appItem {
	float: none;
}
.o365cs-nav-appItemGroup {
	width: 92px; height: 92px;
}
.o365cs-nav-appTile {
	text-align: center; line-height: normal; text-decoration: none !important; display: block; position: relative; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; user-select: none; -webkit-touch-callout: none;
}
.o365cs-newAL-on .o365cs-nav-appTile {
	margin: 0px 2px 2px 0px; padding: 2px; transition:outline 2.12s ease-in-out, transform 0.12s ease-in-out; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: outline 2.125s ease-in-out, -webkit-transform .125s ease-in-out; -moz-transition: outline 2.125s ease-in-out, -moz-transform .125s ease-in-out;
}
.o365cs-newALV2-on .o365cs-nav-appTile {
	margin: 0px 4px 4px 0px; transition:outline 2.12s ease-in-out, transform 0.12s ease-in-out; -webkit-transition: outline 2.125s ease-in-out, -webkit-transform .125s ease-in-out; -moz-transition: outline 2.125s ease-in-out, -moz-transform .125s ease-in-out;
}
.o365cs-newALV3-on .o365cs-nav-appTile {
	margin: 0px; border: 1px solid transparent; transition:border-color 0.08s linear, box-shadow 0.08s linear; text-align: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: border-color .083s linear, -webkit-box-shadow .083s linear; -moz-transition: border-color .083s linear, box-shadow .083s linear;
}
.o365cs-newALV3-on .o365cs-nav-appTileHovered {
	border-color: rgb(244, 244, 244); transition:border-color 0.16s linear, box-shadow 0.16s linear; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); -webkit-transition: border-color .167s linear, -webkit-box-shadow .167s linear; -moz-transition: border-color .167s linear, box-shadow .167s linear; -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
}
.o365cs-newALV3-on .o365cs-nav-appTileMenuShown {
	border-color: rgb(244, 244, 244); transition:border-color 0.16s linear, box-shadow 0.16s linear; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1); -webkit-transition: border-color .167s linear, -webkit-box-shadow .167s linear; -moz-transition: border-color .167s linear, box-shadow .167s linear; -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.10);
}
.o365cs-newALV3-on .o365cs-nav-appTile:active {
	border-color: rgb(244, 244, 244); box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTile {
	margin: 0px; padding: 4px 0px 4px 24px; width: auto; height: auto; outline-offset: -1px;
}
.o365cs-newALV3-on .o365cs-nav-listView .o365cs-nav-appTile {
	width: 289px; margin-left: 8px;
}
.o365cs-nav-appTileDisabled {
	cursor: default !important; pointer-events: none;
}
.o365cs-nav-appTileLoading {
	cursor: default !important; pointer-events: none;
}
.o365cs-nav-appTileBackground {
	width: 100%; height: 100%;
}
.o365cs-newAL-on .o365cs-nav-appTileBackground {
	margin: 0px 2px 2px 0px; padding: 2px;
}
.o365cs-newALV3-on .o365cs-nav-appTileBackground {
	background-color: transparent !important;
}
.o365cs-newAL-on .o365cs-nav-appTileHovered .o365cs-nav-appTileBackground {
	padding: 0px; border: 2px solid rgba(255, 255, 255, 0.45);
}
.o365cs-newAL-on .o365cs-nav-appTile:focus .o365cs-nav-appTileBackground {
	padding: 0px; border: 2px solid rgba(255, 255, 255, 0.45);
}
.o365cs-newAL-on .o365cs-nav-appTileMenuShown .o365cs-nav-appTileBackground {
	padding: 0px; border: 2px solid rgba(255, 255, 255, 0.45);
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileHovered {
	box-shadow: none; background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 3%, rgba(230, 230, 230, 0.16) 50%, rgba(255, 255, 255, 0) 100%); -webkit-box-shadow: none;
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTile:focus {
	box-shadow: none; background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 3%, rgba(230, 230, 230, 0.16) 50%, rgba(255, 255, 255, 0) 100%); -webkit-box-shadow: none;
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileMenuShown {
	box-shadow: none; background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 3%, rgba(230, 230, 230, 0.16) 50%, rgba(255, 255, 255, 0) 100%); -webkit-box-shadow: none;
}
.o365cs-newALV2-on :not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileMenuShown):not(:focus):not(.o365cs-nav-appTileHovered).o365cs-nav-appTile .o365cs-nav-appTileBackground {
	background-color: rgba(255, 255, 255, 0.09) !important;
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileBackground {
	width: 48px; height: 48px; position: relative;
}
.o365cs-newALV3-on .o365cs-nav-appTileDisabled .o365cs-nav-appTileBackground {
	color: rgb(166, 166, 166);
}
.o365cs-nav-appTileSmall {
	width: 42px; height: 42px;
}
.o365cs-newAL-on .o365cs-nav-appTileMedium {
	width: 100px; height: 100px;
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium {
	width: 88px; height: 88px;
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium {
	width: 145px; height: 48px;
}
.o365cs-nav-appTileWide {
	width: 180px; height: 88px;
}
.o365cs-newAL-on .o365cs-nav-appTilePressed {
	transform: scale(0.9125); -moz-transform: scale(0.9125); -webkit-transform: scale(0.9125);
}
.o365cs-newALV2-on .o365cs-nav-appTilePressed {
	transform: scale(0.9125); -moz-transform: scale(0.9125); -webkit-transform: scale(0.9125);
}
.o365cs-nav-appTileIcon {
	display: inline-block;
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileIcon {
	font-size: 28px !important; margin-top: 7px;
}
.o365cs-newAL-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon {
	height: auto; font-size: 36px !important; margin-top: 22px;
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon {
	height: 36px; font-size: 36px !important; margin-top: 16px;
}
.o365cs-newALV2-on .o365cs-nav-appTileWide .o365cs-nav-appTileIcon {
	height: 36px; font-size: 36px !important; margin-top: 16px;
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileIcon {
	transition:color 0.16s linear; color: inherit !important; font-size: 26px !important; margin-top: 12px; margin-left: 10px; -webkit-transition: color .167s linear; -moz-transition: color .167s linear;
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileIcon {
	height: 36px; font-size: 24px !important; margin-top: 10px !important;
}
.o365cs-nav-appTileImage {
	border: currentColor;
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileImage {
	width: 100%; height: 100%;
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileImage {
	width: 36px; height: 36px; margin-top: 16px; vertical-align: top;
}
.o365cs-newALV2-on .o365cs-nav-appTileWide .o365cs-nav-appTileImage {
	width: 36px; height: 36px; margin-top: 16px; vertical-align: top;
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileImage {
	width: 28px; height: 28px; margin-top: 10px; margin-left: 8px;
}
.o365cs-newALV3-on .o365cs-nav-appTileLoading .o365cs-nav-appTileImage {
	border-radius: 1px; display: inline-block; background-color: rgb(246, 246, 246);
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileImage {
	width: 24px; height: 24px; margin-top: 12px; vertical-align: top;
}
.o365cs-newAL-on .o365cs-nav-appTileTitle {
	padding: 1px 5px 0px; left: 10px; height: 30px; bottom: 4px; vertical-align: middle; display: table-cell; position: static;
}
.o365cs-newALV2-on .o365cs-nav-appTileTitle {
	padding: 1px 5px 0px; left: 10px; height: 30px; bottom: 4px; vertical-align: middle; display: table-cell; position: static;
}
.o365cs-newALV2-on .o365cs-nav-appTileTitle {
	opacity: 0.91;
}
.o365cs-newALV3-on .o365cs-nav-appTileTitle {
	transition:color 0.08s linear; left: 47px; top: 15px; color: inherit !important; display: block; position: absolute; -webkit-transition: color .083s linear; -moz-transition: color .083s linear;
}
.o365cs-newALV2-on :not(.o365cs-nav-appTileDisabled).o365cs-nav-appTile .o365cs-nav-appTileIcon {
	color: rgb(234, 234, 234) !important;
}
.o365cs-newALV2-on :not(.o365cs-nav-appTileDisabled).o365cs-nav-appTile .o365cs-nav-appTileTitle {
	color: rgb(234, 234, 234) !important;
}
.o365cs-newALV3-on :not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileMenuShown):not(:focus):not(.o365cs-nav-appTileHovered).o365cs-nav-appTile .o365cs-nav-appTileIcon {
	transition:color 0.16s linear; -webkit-transition: color .167s linear; -moz-transition: color .167s linear;
}
.o365cs-newALV3-on :not(.o365cs-nav-appTileDisabled):not(.o365cs-nav-appTileMenuShown):not(:focus):not(.o365cs-nav-appTileHovered).o365cs-nav-appTile .o365cs-nav-appTileTitle {
	transition:color 0.16s linear; color: rgb(33, 33, 33) !important; -webkit-transition: color .167s linear; -moz-transition: color .167s linear;
}
.o365cs-nav-appTileSmall .o365cs-nav-appTileTitle {
	display: none;
}
.o365cs-newAL-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
	width: 85px;
}
.o365cs-newALV2-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
	width: 78px;
}
.o365cs-newALV3-on .o365cs-nav-appTileMedium .o365cs-nav-appTileTitle {
	width: calc(100% - 45px);
}
.o365cs-newALV3-on .o365cs-nav-appTileLoading .o365cs-nav-appTileTitle {
	width: 56px; height: 15px; background-color: rgb(246, 246, 246);
}
.o365cs-nav-appTileWide .o365cs-nav-appTileTitle {
	width: 170px;
}
.o365cs-newALV2-on .o365cs-nav-listView .o365cs-nav-appTileTitle {
	left: 55px; width: 180px; line-height: 48px !important; display: block; position: absolute; max-width: 180px !important;
}
.o365cs-nav-appTileTitle > span {
	text-align: center; overflow: hidden; font-family: "SegoeUI-Regular-final","Segoe UI","Segoe UI WPC",Segoe,Tahoma,Helvetica,Arial,sans-serif; font-size: 12px; display: block; white-space: normal; -ms-text-overflow: ellipsis;
}
.o365cs-newAL-on .o365cs-nav-appTileTitle > span {
	line-height: 16px; font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif; max-height: 32px;
}
.o365cs-newALV2-on .o365cs-nav-appTileTitle > span {
	line-height: 16px; max-height: 32px;
}
.o365cs-newALV3-on .o365cs-nav-appTileTitle > span {
	text-align: left; letter-spacing: 0.01px; font-size: 14px; white-space: nowrap;
}
.o365cs-nav-listView .o365cs-nav-appTileTitle > span {
	text-align: left; white-space: nowrap;
}
.o365cs-newALV3-on .o365cs-nav-appsModuleTiles {
	margin-left: 8px;
}
.o365cs-nav-fluentLink {
	height: auto !important; text-decoration: none !important; min-width: 0px; background-color: transparent !important;
}
:not(.owaimg).o365cs-nav-fluentLink {
	transition:border-bottom-color 0.08s linear; padding-bottom: 1px; border-bottom-color: transparent; border-bottom-width: 1px; border-bottom-style: solid; -webkit-transition: border-bottom-color .083s linear; -moz-transition: border-bottom-color .083s linear;
}
:not(.owaimg).o365cs-nav-fluentLink:hover {
	border-bottom-color: currentColor;
}
.o365cs-nav-appsModuleMore {
	margin: 12px 0px 35px 20px !important; padding: 0px; border: 0px currentColor; text-align: left; font-size: 14px !important; display: block; position: relative; cursor: pointer;
}
.o365cs-nav-appsModuleMore .owaimg {
	font-size: 12px !important; margin-top: -2px; margin-left: 12px; vertical-align: middle;
}
.o365cs-newALV3-on .o365cs-nav-allView {
	animation-name: o365cs-nav-allView-slideInT; animation-duration: 0.25s; animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -webkit-animation-name: o365cs-nav-allView-slideInT; -moz-animation-name: o365cs-nav-allView-slideInT; -webkit-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -moz-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1);
}
.o365cs-nav-allViewBackButton {
	margin: 0px 0px 14px 18px !important; padding: 0px; border: 0px currentColor; font-size: 12px !important; cursor: pointer;
}
.o365cs-nav-allViewBackButton > span {
	vertical-align: middle;
}
.o365cs-nav-allViewBackButton .owaimg {
	font-size: 12px !important; margin-top: 2px; margin-right: 8px;
}
.o365cs-newALV3-on .o365cs-nav-allViewScrollContainer {
	height: calc(100% - 102px); padding-bottom: 10px;
}
.o365cs-newALV3-on .o365cs-nav-navMenuGroupLabel {
	margin: 10px 0px 10px 18px; color: rgb(33, 33, 33) !important; letter-spacing: 0.01px; font-family: "Segoe UI Semibold","Segoe UI Web Semibold","Segoe WP Semibold","Segoe UI","Segoe WP",Segoe,Tahoma,Arial,sans-serif !important; font-size: 16px !important; display: block;
}
.o365cs-nav-allViewFooter {
	width: 100%; bottom: 0px; display: block; position: absolute;
}
.o365cs-nav-allViewAppGallery {
	width: 100%; line-height: 54px !important; letter-spacing: 0.01px; padding-left: 20px !important; font-size: 12px !important; display: block; box-sizing: border-box; box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.1); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.10);
}
.o365cs-nav-allViewAppGallery > span {
	vertical-align: middle;
}
.o365cs-nav-allViewAppGallery .owaimg {
	font-size: 12px !important; margin-top: 2px; margin-right: 18px;
}
.o365cs-nav-navMenuFooter {
	padding-top: 12px; padding-bottom: 13px; border-top-color: rgba(255, 255, 255, 0.08); border-top-width: 1px; border-top-style: solid;
}
.o365cs-nav-navMenuFooterLink {
	margin-bottom: 5px; margin-left: 24px; display: block;
}
.o365cs-nav-navMenuFooterLink > a {
	font-family: "SegoeUI-Regular-final","Segoe UI","Segoe UI WPC",Segoe,Tahoma,Helvetica,Arial,sans-serif; font-size: 14px; text-decoration: none !important;
}
.o365cs-nav-header16 .o365cs-nav-topItem {
	vertical-align: top; display: inline-block;
}
.o365cs-nav-header16 .o365cs-nav-o365Branding {
	padding-right: 20px; border-left-color: rgba(255, 255, 255, 0.3); border-left-width: 1px; border-left-style: solid;
}
.o365cs-nav-header16 .o365cs-nav-bposLogo {
	padding: 0px 20px; height: 50px; vertical-align: middle; display: inline-block; white-space: nowrap; outline-offset: -1px;
}
.o365cs-newALV3-on.o365cs-nav-header16 .o365cs-nav-bposLogo {
	padding: 0px 18px;
}
.o365cs-nav-header16 .o365cs-nav-brandingText {
	line-height: 48px; font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif; font-size: 22px; display: inline-block; -webkit-font-smoothing: antialiased;
}
.o365cs-newALV3-on.o365cs-nav-header16 .o365cs-nav-brandingText {
	font-size: 17px;
}
.o365cs-nav-header16 .o365cs-nav-gallatinLogo {
	margin-top: 12px; margin-left: 6px; vertical-align: top; display: inline-block;
}
.o365cs-nav-header16 .o365cs-nav-appTitleLine {
	width: 1px; height: 40px; vertical-align: middle; display: inline-block; background-color: rgba(255, 255, 255, 0.4);
}
.o365cs-newALV3-on.o365cs-nav-header16 .o365cs-nav-appTitleLine {
	height: 30px;
}
.o365cs-nav-headerLogoHidden {
	display: none !important;
}
.o365cs-nav-header16 .o365cs-nav-appTitle {
	height: 50px; margin-left: 20px; vertical-align: middle; display: inline-block; outline-offset: -1px;
}
.o365cs-newALV3-on.o365cs-nav-header16 .o365cs-nav-appTitle {
	margin-left: 18px;
}
.o365cs-nav-header16 .o365cs-nav-tenantBranding {
	vertical-align: top; display: inline;
}
.o365cs-nav-header16 .o365cs-nav-leftAlign .o365cs-nav-tenantBranding {
	padding: 0px 20px; height: 50px; vertical-align: middle; border-left-color: rgba(255, 255, 255, 0.3); border-left-width: 1px; border-left-style: solid; display: table-cell;
}
.o365cs-nav-header16 .o365cs-nav-tenantLogo {
	overflow: hidden; font-size: 0px; display: inline-block; max-height: 50px; max-width: 200px;
}
.o365cs-nav-header16 .o365cs-nav-tenantLogo img {
	max-height: 50px;
}
.o365cs-nav-header16 .o365cs-nav-brandingLeftText {
	padding: 0px; width: auto; font-size: 10px; vertical-align: middle; display: inline-block;
}
.o365cs-nav-header16 .o365cs-nav-brandingRightText {
	padding: 0px; width: auto; font-size: 10px; vertical-align: middle; display: inline-block;
}
.o365cs-nav-header16 .o365cs-nav-centerAlign {
	width: 100%; text-align: center; vertical-align: middle; display: table-cell;
}
.o365cs-nav-header16 .o365cs-nav-rightAlign {
	text-align: right; vertical-align: top; display: table-cell;
}
.o365cs-nav-header16 .o365cs-nav-rightMenus {
	vertical-align: top; display: table-cell;
}
.o365cs-nav-header16 .o365cs-nav-link {
	margin: 0px; text-align: center; line-height: 50px; font-size: 0px; display: block; min-width: 50px; outline-offset: -1px;
}
.o365cs-mfp-doughboy-container {
	right: 6px; position: absolute;
}
.o365cs-nav-header16 .o365cs-nav-button {
	border-width: 0px; margin: 0px; padding: 0px; height: 50px; text-align: center; line-height: normal; overflow: visible; vertical-align: middle; display: block; cursor: pointer; min-width: 50px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline-offset: -1px;
}
.meflexpane-enabled .o365cs-nav-button {
	min-width: 48px;
}
@media all and (min-width:640px)
{
.o365cs-nav-header16 .o365cs-mfp-headerbutton {
	width: 177px; min-width: 177px;
}
}
.o365cs-mfp-header {
	display: table; max-width: 176px;
}
.o365cs-mfp-header-displayname {
	width: 126px; text-align: right; overflow: hidden; vertical-align: middle; display: table-cell; max-width: 126px;
}
.o365cs-mfp-header-displayname-wrap {
	white-space: nowrap; -ms-word-break: break-all; -ms-text-overflow: ellipsis;
}
.o365cs-mfp-header-spacer {
	display: table-cell; min-width: 3px;
}
.o365cs-mfp-header-img {
	display: table-cell;
}
.o365cs-mfp-header-img .o365cs-mfp-doughboy {
	margin: 7px 0px 0px;
}
.o365cs-mfp-mebutton {
	margin: 7px 0px 0px;
}
.o365cs-mfp-circular-small {
	border-radius: 50%;
}
.o365cs-mfp-circular-medium {
	border-radius: 50%;
}
.o365cs-mfp-circular-other {
	border-radius: 50%;
}
.o365cs-nav-button .o365cs-mfp-header-img {
	border-left-width: 0px !important;
}
.o365cs-mfp-header-img-container {
	top: 0px; right: 6px; overflow: hidden; margin-top: 7px; display: inline-block; position: absolute;
}
.o365cs-mfp-circular-small {
	width: 36px; height: 36px;
}
.o365cs-mfp-doughboy {
	line-height: 1.3 !important; font-size: 28px !important; position: static; background-color: rgb(118, 118, 118) !important;
}
.o365cs-newALV3-on .o365cs-mfp-doughboy {
	line-height: 1.45 !important; font-size: 24px !important;
}
.o365cs-mfp-textboy {
	border-radius: 50%; top: 7px; text-align: center; right: 6px; color: white; line-height: 33px; overflow: hidden; font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif; font-size: 21px; position: absolute;
}
.o365cs-mfp-skypeAvailable {
	border: 1px solid white; color: white; background-color: rgb(93, 210, 85);
}
.o365cs-mfp-skypeOffline {
	border: 1px solid green; background-color: white;
}
.o365cs-mfp-hidden {
	border: 1px solid green; background-color: white;
}
.o365cs-mfp-skypeBusy {
	border: 1px solid white; background-color: red;
}
.o365cs-mfp-skypeDND {
	border: 1px solid white; color: white; background-color: red;
}
.o365cs-mfp-skypeAway {
	border: 1px solid white; color: white; background-color: rgb(255, 210, 0);
}
.o365cs-mfp-skypeUnkown {
	border: 1px solid green; color: green; background-color: white;
}
.o365cs-mfp-presenceButton {
	border-radius: 10px; top: 30px; width: 12px; height: 12px; text-align: center; right: 5px; font-size: 11px; position: absolute;
}
html[dir='rtl'] .o365cs-mfp-presenceButton {
	left: 5px;
}
.o365cs-nav-header16 .o365cs-nav-rightAlign .o365cs-nav-button {
	border-left-color: rgba(255, 255, 255, 0.3); border-left-width: 1px; border-left-style: solid;
}
.o365cs-newALV3-on.o365cs-nav-header16 .o365cs-nav-rightAlign .o365cs-nav-button {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.o365cs-newDefaultTheme-on.o365cs-nav-header16 .o365cs-nav-button:hover {
	background-color: rgb(219, 217, 215) !important;
}
.o365cs-newDefaultTheme-on.o365cs-nav-header16 .o365cs-nav-bposLogo .o365cs-nav-brandingText {
	color: rgb(216, 59, 1); font-family: "Segoe UI Bold","Segoe UI Semibold","Segoe UI Web Semibold","Segoe WP Semibold","Segoe UI","Segoe WP",Segoe,Tahoma,Arial,sans-serif;
}
.o365cs-nav-header16 .o365cs-nav-item {
	transition:background-color 0.46s cubic-bezier(0.1, 0.9, 0.2, 1) 34ms; position: relative; -webkit-transition: background-color 0.467s cubic-bezier(0.1, 0.9, 0.2, 1) 34ms; -moz-transition: background-color 0.467s cubic-bezier(0.1, 0.9, 0.2, 1) 34ms;
}
.o365cs-nav-contextMenu {
	outline: 0px; border-right-color: rgb(222, 222, 222); border-bottom-color: rgb(222, 222, 222); border-left-color: rgb(222, 222, 222); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; clip: rect(0px, 10000px, 10000px, -10px); min-width: 180px; max-width: 375px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2); background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.o365cs-nav-contextMenu .o365cs-contextMenuItem {
	font: 15px/normal "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif; padding: 10px 30px; text-align: left; display: block; box-sizing: border-box; font-size-adjust: none; font-stretch: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline-offset: -1px;
}
.o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem {
	font: 15px/normal "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif; padding: 10px 30px; text-align: left; display: block; box-sizing: border-box; font-size-adjust: none; font-stretch: normal; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; outline-offset: -1px;
}
.o365cs-nav-contextMenu button.o365cs-contextMenuItem {
	width: 100%;
}
.o365cs-nav-contextMenu button.o365cs-contextMenuInactiveItem {
	width: 100%;
}
.o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem {
	cursor: default !important;
}
.o365cs-nav-contextMenu .o365cs-contextMenuSeparator {
	border-top-width: 1px; border-top-style: solid;
}
.o365cs-nav-contextMenu .o365cs-labelledContextMenuSeparator {
	padding: 10px 16px 0px; font-size: 13px; border-top-width: 1px; border-top-style: solid;
}
.o365cs-me-tile-nophoto {
	border-left-color: rgba(255, 255, 255, 0.3); border-left-width: 1px; border-left-style: solid;
}
.o365cs-newALV3-on .o365cs-me-tile-nophoto {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.o365cs-me-tile-nophoto-username-container {
	height: 50px; overflow: hidden; padding-left: 5px; vertical-align: middle; display: table-cell; white-space: nowrap; max-width: 200px;
}
.o365cs-me-tile-nophoto-down {
	padding: 0px 10px; vertical-align: middle; display: table-cell;
}
.o365cs-me-tile-nophoto-username {
	height: 50px; padding-right: 5px; padding-left: 15px; font-size: 15px; vertical-align: middle; display: table-cell;
}
.o365cs-me-presence5x50 {
	left: 0px; top: 0px; width: 5px; height: 50px; position: absolute;
}
.o365cs-nav-header16 .o365cs-me-nav-item {
	border-left-color: currentColor !important; border-left-width: medium !important; border-left-style: none !important; z-index: 1; min-width: 55px;
}
.o365cs-me-tileview-container {
	left: 0px; top: 0px; position: absolute; z-index: -1;
}
.o365cs-me-tileview {
	width: 55px; height: 50px; overflow: hidden;
}
.o365cs-me-presenceColor-Offline {
	background-color: rgb(182, 207, 216);
}
.o365cs-me-tileimg {
	left: 5px; top: 0px; width: 50px; height: 50px; line-height: normal; overflow: hidden; position: absolute;
}
.o365cs-me-tileimg-doughboy {
	padding: 3px 0px 0px 2px; left: 0px; width: 52px; height: 49px; font-size: 52px; position: static;
}
.o365cs-newALV3-on .o365cs-me-tileimg-doughboy {
	padding-top: 6px; font-size: 44px !important;
}
.o365cs-nav-header16 .o365cs-nav-signIn {
	padding-right: 10px; padding-left: 10px; font-family: "SegoeUI-Regular-final",Segoe UI,Arial,Helvetica,sans-serif; font-size: 14px; text-decoration: none; vertical-align: middle;
}
.o365cs-semiLightFont {
	font-family: "SegoeUI-SemiLight-final","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif; font-weight: lighter; -webkit-font-smoothing: antialiased;
}
.o365cs-lightFont {
	font-family: "Segoe UI Light","Segoe UI",Segoe,Tahoma,Helvetica,Arial,Sans-Serif;
}
.slideInT.o365cs-nav-navMenu.o365cs-newAL-on {
	animation-name: slideInTTransformFrames; animation-duration: 0.15s; animation-fill-mode: both; -webkit-animation-duration: 0.15s; -moz-animation-duration: 0.15s; -webkit-animation-name: slideInTTransformFrames; -moz-animation-name: slideInTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.slideInT.o365cs-nav-navMenu.o365cs-newALV2-on {
	animation-name: slideInTTransformFrames; animation-duration: 0.15s; animation-fill-mode: both; -webkit-animation-duration: 0.15s; -moz-animation-duration: 0.15s; -webkit-animation-name: slideInTTransformFrames; -moz-animation-name: slideInTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.o365cs-newAL-on .slideInT.o365cs-nav-navMenuBeak {
	animation-name: slideInTTransformFrames; animation-duration: 0.15s; animation-fill-mode: both; -webkit-animation-duration: 0.15s; -moz-animation-duration: 0.15s; -webkit-animation-name: slideInTTransformFrames; -moz-animation-name: slideInTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.slideInT.o365cs-nav-navMenu.o365cs-newALV3-on {
	animation-name: slideInTTransformFramesV3; animation-duration: 0.25s; animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); animation-fill-mode: both; -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -webkit-animation-name: slideInTTransformFramesV3; -moz-animation-name: slideInTTransformFramesV3; -webkit-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -moz-animation-timing-function: cubic-bezier(0.26, 1, 0.48, 1); -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.slideOutT.o365cs-nav-navMenu.o365cs-newAL-on {
	animation-name: slideOutTTransformFrames; animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1.0s; -moz-animation-duration: 1.0s; -webkit-animation-name: slideOutTTransformFrames; -moz-animation-name: slideOutTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.slideOutT.o365cs-nav-navMenu.o365cs-newALV2-on {
	animation-name: slideOutTTransformFrames; animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1.0s; -moz-animation-duration: 1.0s; -webkit-animation-name: slideOutTTransformFrames; -moz-animation-name: slideOutTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.o365cs-newAL-on .slideOutT.o365cs-nav-navMenuBeak {
	animation-name: slideOutTTransformFrames; animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1.0s; -moz-animation-duration: 1.0s; -webkit-animation-name: slideOutTTransformFrames; -moz-animation-name: slideOutTTransformFrames; -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.slideOutT.o365cs-nav-navMenu.o365cs-newALV3-on {
	animation-name: slideOutTTransformFramesV3; animation-duration: 0.25s; animation-timing-function: cubic-bezier(0.52, 0, 0.74, 0); animation-fill-mode: both; -webkit-animation-duration: 0.25s; -moz-animation-duration: 0.25s; -webkit-animation-name: slideOutTTransformFramesV3; -moz-animation-name: slideOutTTransformFramesV3; -webkit-animation-timing-function: cubic-bezier(0.52, 0, 0.74, 0); -moz-animation-timing-function: cubic-bezier(0.52, 0, 0.74, 0); -webkit-animation-fill-mode: both; -moz-animation-fill-mode: both;
}
.wf-o365-placeholder::before {
	content: "\e001";
}
.wf-o365-outlooklogo::before {
	content: "\e062";
}
.wf-o365-calendar::before {
	content: "\e011";
}
.wf-o365-peoplelogo::before {
	content: "\e00e";
}
.wf-o365-yammerlogo::before {
	content: "\e064";
}
.wf-o365-newsfeed::before {
	content: "\e08d";
}
.wf-o365-cloud::before {
	content: "\e016";
}
.wf-o365-tasks::before {
	content: "\e040";
}
.wf-o365-projectlogo::before {
	content: "\e063";
}
.wf-o365-pulselogo::before {
	content: "\e118";
}
.wf-o365-powerbilogo::before {
	content: "\e08b";
}
.wf-o365-powerbiv2logo::before {
	content: "\e281";
}
.wf-o365-crmlogo::before {
	content: "\e065";
}
.wf-o365-sociallisteninglogo::before {
	content: "\e123";
}
.wf-o365-videologo::before {
	content: "\e202";
}
.wf-o365-paraturelogo::before {
	content: "\e20a";
}
.wf-o365-swaylogo::before {
	content: "\e247";
}
.wf-o365-highlanderlogo::before {
	content: "\e259";
}
.wf-o365-wordlogo::before {
	content: "\e0b9";
}
.wf-o365-excellogo::before {
	content: "\e0b5";
}
.wf-o365-powerpointlogo::before {
	content: "\e0b8";
}
.wf-o365-onenotelogo::before {
	content: "\e0b7";
}
.wf-o365-sharepointlogo::before {
	content: "\e072";
}
.wf-o365-office365adminlogo::before {
	content: "\e130";
}
.wf-o365-partner::before {
	content: "\e137";
}
.wf-o365-smiley::before {
	content: "\e036";
}
.wf-o365-officestorelogo::before {
	content: "\e061";
}
.wf-o365-windowsstorelogo::before {
	content: "\e37a";
}
.wf-o365-pawlogo::before {
	content: "\e271";
}
.wf-o365-homeroomlogo::before {
	content: "\e276";
}
.wf-o365-classnotebooklogo::before {
	content: "\e25f";
}
.wf-o365-compliancecenterlogo::before {
	content: "\e289";
}
.wf-o365-staffnotebooklogo::before {
	content: "\e280";
}
.wf-o365-powerappslogo::before {
	content: "\e314";
}
.wf-o365-collabdblogo::before {
	content: "\e31f";
}
.wf-o365-skypemeetingslogo::before {
	content: "\e258";
}
.wf-o365-bookingslogo::before {
	content: "\e32a";
}
.wf-o365-dynamicsnavlogo::before {
	content: "\e32c";
}
.wf-o365-officeformslogo::before {
	content: "\e333";
}
.wf-o365-flowLightlogo::before {
	content: "\e361";
}
.wf-o365-microsoftstreamlogo::before {
	content: "\e34f";
}
.wf-o365-skypeteamslogo::before {
	content: "\e379";
}
.wf-o365-dynamics365logo::before {
	content: "\e375";
}
.wf-o365-businesscenterlogo::before {
	content: "\e37b";
}
.wf-o365-nonprofitportallogo::before {
	content: "\e37e";
}
